:root {
  --accent-color: #c70f3e;
  --text-color: white;
  --main-font: "Poppins", sans-serif;
}

/* Home Page */
.home {
  background-image: url(images/city.png);
  max-width: 100%;
  width: 1920px;
  height: 1080px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
}
.hero {
  color: var(--text-color);
  font-family: var(--main-font);
  text-shadow: -2px 3px 4px rgb(199, 15, 62, 0.5);
  font-weight: 700;
  font-size: 150px;
  margin-top: 17%;
  animation: fadein 2s;
}
.home-copy {
  color: var(--text-color);
  font-family: var(--main-font);
  font-size: 18px;
  text-align: center;
  animation: fadein ease 2s;
}
.home-button {
  background-color: var(--accent-color);
  box-shadow: -2px 5px 5px rgb(0, 0, 0, 0.5);
  font-weight: 600;
  font-size: 20px;
  padding: 10px 35px;
  border-radius: 40px;
  border: none;
  animation: fadein ease 2s;
}

.home-button a {
  color: var(--text-color);
  font-family: var(--main-font);
  text-decoration: none;
  transition-duration: 0.4s;
  transition: all 200ms ease;
}
.home-button:hover {
  border: 1px solid var(--accent-color);
  background-color: transparent;
  color: var(--text-color);
  cursor: pointer;
}
/* History Page */
.history {
  background-image: url(images/day-city.png);
  max-width: 100%;
  width: 1920px;
  height: 1080px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
}
.hero-history {
  color: var(--text-color);
  font-family: var(--main-font);
  text-shadow: -2px 3px 4px rgb(199, 15, 62, 0.5);
  font-weight: 700;
  font-size: 50px;
  margin-top: 3%;
  animation: fadein 2s;
}
#chicagoTheater {
  width: 400px;
  height: auto;
}
#chicagoStreet {
  width: 400px;
  height: auto;
}
.section-one {
  margin-top: 7%;
  padding-top: 25px;
}
.section-two {
  padding-bottom: 25px;
}
.history-full {
  background-color: rgb(0, 0, 0, 0.5);
  margin-top: -70px;
}

.history-full p {
  color: var(--text-color);
  font-family: var(--main-font);
}
.history-full h4 {
  color: var(--text-color);
  font-weight: 700;
  font-family: var(--main-font);
}
/* Visit Page */
.visit {
  background-image: url(images/city-night.png);
  max-width: 100%;
  width: 1920px;
  height: 1080px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
}
.hero-visit {
  color: var(--text-color);
  font-family: var(--main-font);
  text-shadow: -2px 3px 4px rgb(199, 15, 62, 0.5);
  font-weight: 700;
  font-size: 50px;
  margin-top: 3%;

  animation: fadein 2s;
}

.bean-button,
.tower-button,
.cubs-button {
  background-color: var(--accent-color);
  font-family: var(--main-font);
}

.bean-card,
.tower-card,
.cubs-card {
  background-color: rgb(0, 0, 0, 0.75);
  margin: 0 auto;
}
.bean-text,
.tower-text,
.cubs-text {
  color: var(--text-color);
}

.bean-title,
.tower-title,
.cubs-title {
  color: var(--text-color);
  font-weight: 800;
}
.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: contain;
}

.bean-button:hover,
.cubs-button:hover,
.tower-button:hover {
  background-color: var(--text-color);
}
/* Contact Page */
.contact {
  background-image: url(images/bw-city.jpg);
  max-width: 100%;
  width: 1920px;
  height: 1080px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
}
.hero-contact {
  color: var(--text-color);
  font-family: var(--main-font);
  text-shadow: -2px 3px 4px rgb(199, 15, 62, 0.5);
  font-weight: 700;
  font-size: 70px;
  text-align: center;
  animation: fadein 2s;
  margin: 0 auto;
  margin-top: 12%;
}
.email {
  color: var(--text-color);
  font-family: var(--main-font);
  font-size: 40px;
  animation: fadein ease 2s;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  box-shadow: inset 0 0 0 0 var(--accent-color);
  color: var(--accent-color);
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.email:hover {
  box-shadow: inset 400px 0 0 0 #c70f3e;
  color: var(--text-color);
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  font-family: var(--main-font);
}
.footer a {
  color: var(--text-color);
}

/* Navigation */
.page-header {
  color: var(--text-color);
  font-family: var(--main-font);
  font-weight: 700;
  padding: 10px 20px;
  font-size: 30px;
}
.page-header:hover {
  color: var(--accent-color);
}
#page-header-link {
  color: var(--text-color);
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 20px;
  padding-left: 50px;
}
#page-header-link:hover {
  color: var(--accent-color);
}
.full-navigation {
  padding-right: 50px;
}
.navbar-toggler {
  background-color: var(--accent-color);
}

/* Animations and Responsive */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  .history {
    background-size: auto;
  }
  .history-full {
    margin-top: 0px;
  }
  #chicagoTheater,
  #chicagoStreet {
    display: block;
    margin: 0 auto;
  }
  .card {
    margin-bottom: 10px;
  }
  .visit {
    background-size: auto;
  }
}

@media (max-width: 600px) {
  .hero {
    font-size: 70px;
  }
}
